                html {
                    overflow-y: hidden;
                    overflow-x: hidden;
                    background-color: #121313;
                }
                
                body {
                    color: #121313;
                    font-family: "Open Sans", sans-serif;
                    padding-bottom: 0;
                }
                
                header {
                    align-items: center;
                    justify-content: center;
                    display: flex;
                    margin: 0;
                    padding: 0;
                    background-color: #121313;
                    color: white;
                    font-family: 'Montserrat', sans-serif;
                }
                
                a {
                    font-size: 15px;
                    color: #ffffff;
                    text-decoration: underline;
                }
                
                #hero a:hover,
                a:active,
                a:focus {
                    color: #659899;
                    outline: none;
                    text-decoration: underline;
                    text-shadow: 2px 2px 4px #000000;
                }
                
                p {
                    margin: 0 0 30px 0;
                    padding: 0;
                }
                
                .seaguls {
                    position: relative;
                    display: flex;
                    position: absolute;
                    right: 0px;
                    bottom: 0px;
                    width: 500px;
                    cursor: auto;
                }
                
                h1,
                h2,
                h3,
                h4,
                h5,
                h6 {
                    color: white;
                    font-family: "Open Sans", sans-serif;
                    font-size: 20px;
                    font-weight: 400;
                    margin: 5px 0 20px 0;
                    padding: 0;
                }
                
                .hero-logo {
                    padding-top: 50px;
                    display: flex;
                    align-items: center;
                }
                
                .hero-a_venir {
                    align-items: center;
                    margin: 0 0;
                    position: relative;
                    padding: 0 0 0 5px;
                    width: 400px;
                    cursor: auto;
                }
                /*--------------------------------------------------------------------------------------------------------------
# Disable AOS delay on mobile
--------------------------------------------------------------*/
                
                @media screen and (max-width: 768px) {
                    [data-aos-delay] {
                        transition-delay: 0 !important;
                    }
                }
                /*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
                /*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
                /**
* Desktop Navigation
*


# Hero Section
--------------------------------------------------------------*/
                
                #hero {
                    width: 100%;
                    height: 100vh;
                    background: url(../img/hero-bg.png) top center;
                    background-size: cover;
                    position: absolute;
                }
                
                .hero-logo {
                    cursor: auto;
                    padding: 0;
                }
                
                @media (max-width: 1100px) {
                    .seaguls {
                        position: relative;
                        display: flex;
                        position: absolute;
                        right: 0px;
                        bottom: 0px;
                        width: 450px;
                        transition: 0.5s;
                    }
                }
                
                @media (max-width: 1024px) {
                    #hero {
                        background-attachment: fixed;
                    }
                    .hero-logo {
                        transition: 0.5s;
                    }
                    .seaguls {
                        position: relative;
                        display: flex;
                        position: absolute;
                        right: 0px;
                        bottom: 0px;
                        width: 400px;
                    }
                }
                
                #hero:before {
                    content: "";
                    display: block;
                    position: absolute;
                    bottom: 0;
                    top: 0;
                    left: 0;
                    right: 0;
                    transition: 0.5s;
                }
                
                #hero .hero-container {
                    position: fixed;
                    bottom: 0;
                    top: 0;
                    left: 0;
                    right: 0;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    text-align: center;
                }
                
                #hero h1 {
                    margin: 30px 0 10px 0;
                    font-size: 48px;
                    font-weight: 700;
                    line-height: 56px;
                    text-transform: uppercase;
                    color: #fff;
                }
                
                .bd-container {
                    max-width: 960px;
                    width: calc(100% - 2rem);
                    margin-left: var(--mb-2);
                    margin-right: var(--mb-2);
                }
                
                @media (max-width: 1024px) {
                    .seaguls {
                        position: relative;
                        display: flex;
                        position: absolute;
                        right: 0px;
                        bottom: 0px;
                        width: 350px;
                    }
                }
                
                @media screen and (max-width: 870px) {
                    .seaguls {
                        position: relative;
                        display: flex;
                        position: absolute;
                        right: 0px;
                        bottom: 0px;
                        width: 300px;
                    }
                }
                
                @media (max-width: 768px) {
                    #hero {
                        font-size: 18px;
                        line-height: 24px;
                        margin-bottom: 30px;
                    }
                    #hero h1 {
                        font-size: 28px;
                        line-height: 36px;
                    }
                    .seaguls {
                        position: relative;
                        display: flex;
                        position: absolute;
                        right: 0px;
                        bottom: 0px;
                        width: 300px;
                    }
                }
                
                #hero h2 {
                    color: #eee;
                    margin-bottom: 50px;
                    font-size: 24px;
                }
                
                @media (max-width: 768px) {
                    .hero-logo {
                        width: 400px;
                        transition: 1s;
                    }
                    .seaguls {
                        position: relative;
                        display: flex;
                        position: absolute;
                        right: 0px;
                        bottom: 0px;
                        width: 300px;
                    }
                }
                
                @media (max-width: 650px) {
                    body {
                        text-align: center;
                    }
                    a {
                        font-size: 13px;
                    }
                    .hero-container {
                        display: block;
                        text-align: center;
                    }
                    .hero-a_venir {
                        margin: 0 0;
                        align-items: center;
                        width: 300px;
                        position: relative;
                        padding: 0 0 0 3px;
                        transition: 0.5s;
                    }
                    .seaguls {
                        position: absolute;
                        display: flex;
                        position: absolute;
                        right: 0px;
                        bottom: 0px;
                        width: 300px;
                    }
                    .seaguls {
                        display: none;
                        transition: 1s;
                    }
                }
                
                #hero .footer-container {
                    position: absolute;
                    bottom: 0;
                    top: 0;
                    left: 0;
                    right: 0;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    text-align: center;
                }
                
                @media (max-width: 500px) {
                    .hero-container {
                        overflow: hidden;
                    }
                }
                
                @media (max-width: 400px) {
                    .hero-logo {
                        width: 300px;
                        transition: 1s;
                    }
                    .hero-a_venir {
                        width: 250px;
                        position: relative;
                        padding: 0 0 0 3px;
                        margin-top: 10px;
                        transition: 0.5s;
                    }
                }